<h1>Edit</h1>

<%= form_for @airfilter do |f| %>

  <%= f.label :brand %>:
  <%= f.text_field :brand %>
  
  <%= f.label :part_number %>:
  <%= f.text_field :part_number %>
  
  <br>
  <hr>
  <% Machine.all.each do |machine| %>
    <%= check_box_tag "air_filter[machine_ids][]", machine.id %>
    <%= machine.title %><br>
  <% end %>
  
  <%= f.submit %>

<% end %>

