<div class="container">
  <div class="page-header">
    <h1>Edit <%=@part.brand%> <%=@part.part_number%></h1>
  </div>
  <div class="col-md-12 btn-group-wrapper">
    <div class="btn-group pull-right" role="group" aria-label="...">
      <%= link_to "Back", admin_part_path, class: "btn btn-default" %>
      <%= render "layouts/new_button" %>
      <%= link_to "All Parts", admin_parts_path, class: "btn btn-info" %>
      <%= link_to "Delete", admin_part_path, class: "btn btn-danger", method: :delete, data: {confirm: "Are You Sure"} %>
    </div>
  </div>
  <div class="col-md-6">
    <%= simple_form_for @part, url:admin_part_path, html: {class: 'form-horizontal' } do |f| %>
      <div class="form-group">
        <%= f.label :brand, class: 'col-md-3' %>
        <div class="col-sm-9">
          <%= f.text_field :brand, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :part_number, class: 'col-md-3' %>
        <div class="col-sm-9">
          <%= f.text_field :part_number, class: 'form-control' %>
        </div>
      </div>


      <ul class="list-group" id="list-group-form">
      <% @all_machines.each do |machine| %>
      
        <% if @part.machines.include?(machine) %>
        <li class="list-group-item">
          <%= check_box_tag 'part[machine_ids][]', machine.id, @part.machines.include?(machine) %>
          <%= machine.title %>
        </li>
        <% end %>

      <% end %>
      </ul>

    
    <%= f.submit :class => 'btn btn-lg btn-block btn-success' %>
  
  
  <% end %>
</div>
<div class="col-md-6">
  
  <%= form_tag edit_admin_part_path, :method => 'get', :id => "machine_filter", :autocomplete => "off" do %>
  <div class="input-group col-sm-12">
    <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search for a machine to add..." %>
</div>
  </p>
<% end %>
<ul class="list-group" id="all-list-group">
  <%= render "checkbox_machines" %>
</ul>
<%= will_paginate @machines %>
</div>
</div>

