<div class="container">
  <div class="page-header">
    <h1>Admin Machine List</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= search_form_for @machine, url: admin_machines_path, :html => {:class => "form-inline"} do |f| %>
        <div class="form-group">
          <%= f.label :title_cont %>
          <%= f.search_field :title_cont, :class => "form-control" %>
        </div>
        <%= f.submit nil, :class => "btn btn-default" %>
        <%= link_to "Clear", admin_machines_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        <%= render "layouts/new_button" %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Parts List</div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Parts</th>
            </tr>
          </thead>
          <tbody>
            <% @results.each do |result| %>
              <tr data-link="<%= edit_admin_machine_path(result)%>">
                <td><%= result.id %></td>
                <td><%= link_to result.title, edit_admin_machine_path(result) %></td>
                <td>
                  <% result.parts.map do |part| %>
                    <%= part.brand %> <%= part.part_number %>
                    <span class="glyphicon glyphicon-minus"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @results %>
    </div>
    
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
  window.location = $(this).data('link');
});
</script>