<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Machine Cheat Sheet" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-default">
    <div class="container">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to ("Machine Cheat Sheet <span class='label label-warning'>Beta</span>").html_safe, root_path, :class => "navbar-brand" %>
      </div>
      
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "All Machines", machines_path %></li>
        </ul>
        <%= search_form_for @machines, url: machines_path, :html => {:class => "navbar-form navbar-left", :role => "search"} do |f| %>
          <div class="form-group">
            <div class="sr-only"><%= f.label :title_cont %></div>
            <%= f.search_field :title_cont, :class => "form-control", :placeholder => "Search by Machine" %>
          </div>
          <%= f.submit nil, :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </nav>
  <% if flash[:notice] %>
    <div class="container">
      <p class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="container">
      <p class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </p>
    </div>
  <% end %>
  
  <div class="container">
    <div class="panel panel-warning">
      <div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span> Pre-launch Notice</div>
      <div class="panel-body">
        <p>This site is currently being developed. You are welcome to use this site if it
        is helpful to you. Just be aware that during this time, you my experience
        missing pages, broken layouts, or other unwanted behaviors. In addition the website
        may not be availabe at times. Also expect the layout and design of this site to change drastically at any time, as
        it's current apperance is only temporary.</p>
        <p>I do hope that you find this site helpful, and check back as I add more information.</p>
      </div>
    </div>
  </div>

<%= yield %>

<div class="container">
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
